@import "@fontsource-variable/hanken-grotesk";
@import "@fontsource-variable/jetbrains-mono";


body {
  min-height: 100vh;
}


:root {
  --pico-font-family-sans-serif: 'Hanken Grotesk Variable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

}

main {
  padding: 1.75rem;
}

@media (min-width: 640px) {
  main {
    padding-inline: 6rem;
  }
}

@media (min-width: 1024px) {
  main>* {
    margin-inline: auto;
  }
}

section {
  max-width: 628px;
}

@media (min-width: 1082px) {
  section {
    max-width: 720px;
  }

  .markdown-block {
    line-height: 2;
  }
}

.markdown-block {
  code {
    font-family: "Jetbrains Mono Variable";
  }
}


img {
  border-radius: .5rem;
}